<div class="card mb-4">
  <div class="card-body bg-light">
    <img src="//api.angular.schule/avatar/{{ book.rating }}"
      class="float-right img-thumbnail" alt="Thumbnail">

    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">
          {{ book.rating }}
        </span>
      </h2>
    </div>

    <ng-container *ngFor="let x of getStars()">⭐️</ng-container>

    <span class="badge badge-success ml-2">
      {{ book.price | currency:'EUR' }}
    </span>

    <p>{{ book.description }}</p>

    <button class="btn btn-secondary mr-2" data-testing-id="rateUpBtn" (click)="doRateUp()">+</button>
    <button class="btn btn-secondary mr-2" (click)="doRateDown()">–</button>
  </div>
</div>
